@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --main-color-1: #19191b;
  --main-color-2: #7f5283;
  --main-color-3: #81c2e3;
  --main-color-4: #fefbf6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  background-color:rgb(49, 48, 48);
}
body::-webkit-scrollbar-thumb{
  background:linear-gradient(var(--main-color-3),var(--main-color-2));
  border-radius:5px;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-top: 35px;
  color: white;
  background-color: #19191b;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 100;
  color: white;
  background-color: var(--main-color-2);
}
.navbar h1 {
  font-weight: 500;
  margin-left: 30px;
}
nav ul {
  display: flex;
  float: right;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  margin: 20px;
  color: var(--main-color-4);
  font-size: 20px;
}
nav ul li a:hover {
  transition: all 2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.active{
  text-decoration: underline;
  text-underline-offset: 5px;
}
#menu-icon {
  display: none;
}
@media screen and (max-width: 700px) {
  #menu-icon {
    display: block;
  }
  .nav-tag{
    display: none;
  }
  #blog{
    display: block;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.container #profile {
  height: 22rem;
  border-radius: 50%;
  border:5px solid var(--main-color-4); 
  filter:contrast(1.75);
}
.text-flex {
  padding: 20px;
}
.text-flex h3 {
  font-size: 30px;
}
.text-flex p {
  font-size: 16px;
}
#dev {
  font-size: 20px;
}
.text {
  margin-bottom: 7px;
  font-size: 18px;
  text-align: center;
  font-size: 22px;
}
.cv-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.cv-flex button {
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
#cv {
  background: var(--main-color-3);
  border: none;
}
#cv:hover {
  border: 2px solid var(--main-color-3);
  background:none;
}
#contact-btn {
  background-color: var(--main-color-4);
  border: none;
}
#contact-btn:hover{
  background: none;
  color:white;
  border: 2px solid aliceblue;
}
.cv-flex button:hover{
  transition: all 0.5s ease-in-out;
  background: none;
  color:var(--main-color-4);
}
.links {
  text-align: center;
}
.links a {
  text-decoration: none;
}
.links a img {
  height: 45px;
  margin: 10px 10px 20px 0px;
  background-color: #f0e6e6;
  border-radius: 50%;
  border:2px solid white;
}
@media screen and (max-width: 700px) {
  .container {
    flex-wrap: wrap;
  }
  .container #profile {
    height: 18rem;
    margin:40px 10px 0px 10px;
  }
}
/* about-section */
.about-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:3%;
}
.heading {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.221);
  margin: 30px 0px 50px 0px;
  text-decoration: underline;
  text-underline-offset: 15px;
  color: var(--main-color-3);
}
.about-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}
.about-flex img{
  border-radius: 50%;
  height:22rem;
  margin:1%;
}
.about-text{
  margin-left:3%;
  font-size: 20px;
}
.about-text h3{
  color:var(--main-color-2);
  font-size: 28px;
}
.about-text span{
  color:var(--main-color-3);
}
@media only screen and (max-width:850px){
  .about-flex{
  flex-wrap: wrap;
  }
  .about-text{
    margin:3%;
    font-size: 16px;
  }
  .about-flex img{
    height: 18rem;
  }
  .about-text h3{
    font-size: 20px;
  }
}
/* education-section */
.ed-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 8%;
}
.ed-text {
  border-radius: 16px;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  width: 30%;
  background-color:rgb(46, 46, 46);
  color: var(--main-color-4);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.ed-text:hover {
  transition: all 2s ease-in ;
  border:2px solid var(--main-color-4);
}
.ed-text p:nth-child(1) {
  font-size: 25px;
  font-weight: 700;
}
.ed-text p {
  font-size: 20px;
  padding: 1.2rem;
}
@media screen and (max-width: 700px) {
  .education {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .ed-text {
    width: 90%;
  }
  .ed-text p{
    font-size: 16px;
  }
}
.projects {
  width: 100%;
  padding: 20px 0px 50px 0px;
}
.projects-details {
  display: flex;
  max-width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project-id {
  cursor: pointer;
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color-4);
  margin: 1%;
  border-radius: 5px;
  padding: 1%;
  position: relative;
  box-shadow: 3px 10px 3px rgba(0, 0, 0, 0.221);
}
.project-id img {
  height: 25rem;
  border-radius: 3%;
}
.proj-desp {
  cursor: pointer;
  transition:all ease-in-out 0.75s;
  padding:20px;
  text-align: center;
  display: block;
  position: absolute;
  bottom:0;
  display:  none;  
  color: var(--main-color-4);
  background-color:rgba(0, 0, 0, 0.84);
}
.proj-desp .hovered{
  display:block;
}
.skills {
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
}
.skills-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5em 0px;
  z-index: 10;
}
.outer {
  background: conic-gradient(rgba(255, 255, 255, 0.646) 100%, black 0%);
  border-radius: 50%;
  margin: 10px;
  padding: 5px;
}
.inner {
  background-color: rgb(21, 21, 19);
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
}
.inner img {
  height: 8.5em;
}
.achievements {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}
.achi-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}
.achi-section {
  background: rgba(255, 255, 255, 0.087);
  color: var(--main-color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%; 
  margin:5px;
  border-radius: 5px;
  object-fit: contain;
}
.achi-section img {
  margin:20px;
  height:20em;
  cursor: pointer;
}
.achi-section strong {
  text-align: center;
  display: block;
  font-size:25px;
  padding: 0px 10px;
}
.achi-section p {
  text-align: center;
  display: block;
  padding: 20px 35px;
}
@media screen and (max-width: 1080px) {
  .achi-section{
   width:90%;
  }
  .achi-section img{
    height:60vw ;
  }
}